body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    background-color: #cae5ec;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    display: block;
    opacity: 1;
}

